<h1> Your Bag </h1>
<p> to make changes click item..</p>
<form action='/yourbag' method="get">

<% price = 0 %>
<% quanity = 0 %>
<% @cci.map do |item| %>
  <table class="responsive-table highlight">
  <thead>
  <tr>
<th> Item name: </th>
<th> Item price: <th>
<th> Item Quantity: </th>
</tr>
</thead>

<tbody>
<tr>

<td><button> <a class="waves-effect waves-white btn-flat #8d6e63 brown-text text-darken-1" href="/customer_items/<%= item.item.id %>"> <%= item.item.name %> </a> </button></td>
<td> $<%= item.item.price %> </td>
<td> <%= item.quanity %> </td>
<% price += item.item.price * item.quanity %> 

  <% end %>

</tr>
</tbody>
</table>

<p> Your Total <%= price %> </p>
    
<b><a class="waves-effect waves-brown btn-flat  #8d6e63 brown lighten-2" href="/checkout">checkout</a></b>
<br>  
