<h1> Welcome </h1>





<form action="/yourbag" method="post">
<b><label for="all items"> All items: </label></b>
<br>
<% @items.each do |item| %>


    <input type="number" max="1" min="0" name="customer[items][][quanity]" id="<%= item.id %>" value="0"> <p><a href="/items/<%= item.id %>"> <%= item.name %></a> </p> $<%= item.price %> <br>	
    <input type="hidden" name="customer[items][][item_id]" value="<%= item.id %>">	
    <input type="hidden" name="customer[items][][item_price]" value="<%= item.price %>">
    	<br>
     <% end %>

<input type="submit" value="Add to Bag">
  
    </form>
    

