<h6 class="left #8d6e63 brown-text text-darken-1"> <i>  </i> </h6>


<form action="/yourbag" method="post">
<div class="left">
</div>
<br>

<table class="striped centered #8d6e63 brown-text text-darken-1">
<% @items.each do |item| %>
        <thead>
          <tr>
              <th>Item Name:</th>
              <th>Item Price: </th>
              <th>Item Quantity:</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= item.name %></td>
            <td>$<%= item.price %></td>
            <td><input type="number" max="10" min="0" name="customer[items][][quanity]" id="<%= item.id %>" value="0"></td>
          </tr>
          </tbody>
     
      <input type="hidden" name="customer[items][][item_id]" value="<%= item.id %>">	
      <input type="hidden" name="customer[items][][item_price]" value="<%= item.price %>">
  
     <% end %>
     </table>
     <a class="waves-effect waves-brown btn-flat  #8d6e63 brown lighten-2" style="float: right;"> <input type="submit" value="Add to Bag"> </a>

    </form>
    

