<b><h4 class="right #8d6e63 brown-text text-darken-1"> All Items </h4><b>


<form action="/yourbag" method="post">
<div class="left">
</div>
<br>
<% @items.each do |item| %>
<table class="striped centered #8d6e63 brown-text text-darken-1">
        <thead>
          <tr>
              <th>Item Name:</th>
              <th>Item Price: </th>
              <th>Item Quantity:</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= item.name %></td>
            <td>$<%= item.price %></td>
            <td><input type="number" max="10" min="0" name="customer[items][][quanity]" id="<%= item.id %>" value="0"></td>
          </tr>
          </tbody>
      </table>
      <input type="hidden" name="customer[items][][item_id]" value="<%= item.id %>">	
      <input type="hidden" name="customer[items][][item_price]" value="<%= item.price %>">
  
     <% end %>

     <a class="waves-effect waves-teal btn-flat #8d6e63 brown lighten-2"> <input type="submit" value="Add to Bag"> </a>

    </form>
    

