<h1> Welcome, <%= current_customer.username %> </h1>
<b><a href='/items/new'> add an item </a></b> 
<br>
<b><a href="/yourbag"> view your bag </a></b>
<form action="/yourbag" method="post">
<b><label for="all items"> All items: </label></b>

<br>

<%  @items.each do |item| %>
    <input type="number" max="10" min="0" name="customer[items][][quanity]" id="<%= item.id %>" value="0"> <p><a href="/items/<%= item.id %>"><%= item.name %></a> - <%= item.price %> </p> 
    <input type="hidden" name="customer[items][][item_id]" value="<%= item.id %>">
    
     <% end %>
    <input type="submit" value="Add to Bag">


<b><a href="/logout">logout </a></b>
</form>



